body {
    background-color:white; 
    font-family: Helvetica;
}

h1 {
    display:flex;
    flex-direction:row;
    justify-content: center;
}

h2 {
    transform:translate(0px);
   
}

p {
    transform: translate(5px);

}

.Picture-1 {
    display:block;
    margin-left: auto;
    margin-right: auto;
}
        
 .button-container {
    font-size: 1.7rem;
    color: white;
    background: #1d2548;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 30px;
    margin: -10px;
    gap: 120px;
}

#CSS {
    color: rgb(203, 59, 255);
}

#Home:hover {
    color: black;
    cursor: pointer;
}

#HTML:hover {
    color: black;
    cursor: pointer;
}

#CSS:hover {
    color: black;
    cursor: pointer;
}

#Design:hover {
    color: black;
    cursor: pointer;
}

#JavaScript:hover {
    color: black;
    cursor: pointer;
}
       

.container {
    display:flex;
    align-items: center;
    max-width: 1250px;
    margin: auto;
    zoom: 90%; 
    gap: 200px;
    margin-bottom: -50px;
    margin-left:220px;

}

.white-space {
    margin-top: 20px;
    margin-right: 700px;
    background: white;
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding: 40px;
}
 